#gamesearchbox {
	background-color: #141414;
	border: 2px solid #3b3b3b;
	color: white;
	font-family: "Poppins";
	width: 250px;
	height: 29px;
}
#gamesearchbutton {
	text-align: center;
	background-color: #141414;
	width: 33px;
	height: 33px;
	position: relative;
	top: 2px;
}
#shufflebutton {
	text-align: center;
	background-color: #141414;
	height: 33px;
}


.gameblock {
	background-color: #3b3b3b; 
	border: 3px solid #242424; 
	display: inline-block;
}
.gameblocktext {
	position: relative; 
	bottom: 4px;
}